@fluid-example:registry=https://pkgs.dev.azure.com/fluidframework/internal/_packaging/build/npm/registry/
@fluid-example:always-auth=true
@taoscap:registry=https://ms-teo.pkgs.visualstudio.com/TaosCap/_packaging/taoscap_feed/npm/registry/  
registry=https://registry.npmjs.org/                   
always-auth=true
